---
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
import colorfulDelivery from "../assets/projects/ColorfullDelivery.png";
import ctrlSpace from "../assets/projects/ctrl_space.jpg";
import theGrid from "../assets/projects/the_grid.jpeg";
import tinkerpod from "../assets/projects/tinkerpod.jpg";
import lora from "../assets/projects/lora.jpeg";
import Project from "./home/project.astro";
---

<div id="projects" class="min-h-screen w-full m-0 p-4 scroll-mt-20">
  <div
    class="max-w-7xl w-full mx-auto flex flex-row items-center justify-between"
  >
    <SectionTitle title="projects()" />
    <a href="/projects" class="text-blue-500 hover:underline mr-8"
      >All Projects</a
    >
  </div>
  <Project image={tinkerpod} imageAlt="TinkerPod with generative art">
    <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">TinkerPod</h3>
    <p>
      The TinkerPod is an Open-Source hardware platform designed to appeal to
      makers, creative coders, and designers by providing a hackable and
      customizable hardware. Inspired by the evolution of multitools and
      influenced by contemporary devices like the Flipper Zero and SQRT, this
      project explores the application of critical making, and personal
      fabrication to Open-Source hardware. The TinkerPod is an ideal hardware
      platform for designers and makers to explore, learn, modify and extend;
      make it your own!
    </p>
    <div class="mt-8 underline">
      <a href="https://github.com/juansulca/tinker-pod">Project Github</a>
    </div>
    <div class="mt-2 underline">
      <a href="/projects/tinker-pod">Project Page</a>
    </div>
  </Project>
  <Project image={ctrlSpace} imageAlt="CTRL space installation">
    <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">CTRL Space</h3>
    <p>
      In the digital era, where surveillance is omnipresent yet often invisible,
      our art installation, “Ctrl_Space,” brings Michel Foucault's theory of the
      Panopticon into a contemporary context. This interactive installation
      features three large, mechanical eyes, each meticulously crafted to follow
      the movement of visitors, simulating the unnerving sensation of being
      constantly watched.This project utilizes Python, OpenCV, and Arduino to
      enable real-time person detection and servo motor control.
    </p>
    <div class="mt-8 underline">
      <a href="https://vimeo.com/887818718">Project Github</a>
    </div>
  </Project>
  <Project image={theGrid} imageAlt="The Grid installation">
    <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">The Grid</h3>
    <p>
      A p5js -based audio-visual installation developed during Creation and
      Computation at OCAD University. When the QR code is scanned, each phone is
      randomly assigned a note from the E Minor pentatonic scale, an octave
      value (low, middle, high) and a loop-length (4, 6, 8 & 16 seconds, all
      clean divisions of 120 BPM). While playing their respective audio loop,
      each phone's microphone input is analyzed and when the signal amplitude
      rises above a certain threshold, the screen lights up and random lines are
      drawn, emulating the physical installation structure as well as the modern
      media networks we inhabit and interact with. Developed in colaboration
      with Zubin Isaac, Rutooja K. & Nikhil Thomas.
    </p>
    <div class="mt-8 underline">
      <a href="https://vimeo.com/881911517">Video</a>
    </div>
  </Project>
  <Project image={colorfulDelivery} imageAlt="Colorful delivery color matrix">
    <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">
      Colorful Delivery
    </h3>
    <p>
      This project utilizes a given hash value to create a captivating color
      matrix. By converting the hash into a collection of hex colors, it
      dynamically generates a matrix that reflects the unique data points. With
      potential applications in data visualization, such as blockchain analysis,
      this creative tool showcases the power of code and its ability to turn
      data into visual art.
    </p>
    <div class="mt-8 underline">
      <a href="https://editor.p5js.org/JuanSulca/full/nRLZ_BeiR">Live preview</a
      >
    </div>
  </Project>
  <Project image={lora} imageAlt="Arduino LMiC adaptation to LoRaWAN v1.1">
    <h3 class="md:text-2xl text-xl max-w-lg font-bold py-4">
      Arduino LMiC adaptation to LoRaWAN v1.1
    </h3>
    <p>
      This project focused on adapting the Arduino LMiC library to comply with
      the LoRaWAN v1.1 specification for A and C devices, incorporating enhanced
      security features and ensuring compatibility with the latest standards.
      The modified library offered developers the ability to create robust and
      secure LoRaWAN applications while facilitating seamless integration with
      LoRaWAN v1.1 networks. The project prioritized delivering LoRaWAN v1.1
      features while minimizing the impact on the library's performance. The aim
      was to provide the researcher and developer community with a highly
      functional and dev-friendly LoRaWAN v1.1 implementation.
    </p>
    <div class="mt-8 underline">
      <a href="https://github.com/juansulca/arduino-lmic">Project Github</a>
    </div>
  </Project>
</div>
